<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document Search</title>
  </head>
  <body>
    <h1>Document Search</h1>

    <form action="/" method="post" enctype="multipart/form-data">
      <label for="files">Choose files:</label>
      <input
        type="file"
        id="files"
        name="files[]"
        multiple
        accept=".txt, .csv"
      /><br /><br />
      <label for="search_term">Enter a word to find:</label>
      <input type="text" id="search_term" name="search_term" /><br /><br />
      <button type="submit">Search</button>
    </form>

    {% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %} {% if search_result %}
    <h2>Search Result</h2>
    <table>
      <thead>
        <tr>
          <th>Word</th>
          <th>Document</th>
        </tr>
      </thead>
      <tbody>
        {% for word, documents in search_result.items() %}
        <tr>
          <td>{{ word }}</td>
          <td>{{ documents|join(', ') }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </body>
</html>
